html {
  font-size: 62,5%; }

body {
  font-family: 'Raleway', sans-serif;
  padding-top: 120px; }
  @media screen and (max-width: 768px) {
    body {
      padding-top: 0; } }

h1 {
  font-size: 2rem; }
  @media screen and (max-width: 500px) {
    h1 {
      font-size: 1.6rem; } }

.bg-white {
  background-color: #efd3b6; }

@media screen and (max-width: 768px) {
  .fixed-top {
    position: static; } }

.navbar-expand-lg .navbar-nav .nav-link {
  font-size: 18px; }

@media screen and (max-width: 500px) {
  .slide img {
    height: 250px; } }

.slide .carousel-caption {
  right: 67%;
  bottom: 9.25rem;
  left: 10%;
  padding-bottom: 2.25rem;
  color: black; }
  @media screen and (max-width: 768px) {
    .slide .carousel-caption {
      right: 55%;
      bottom: 3.25rem;
      left: 4%; } }
  .slide .carousel-caption__text {
    font-weight: 600;
    font-size: 40px; }
    @media screen and (max-width: 768px) {
      .slide .carousel-caption__text {
        font-weight: 600;
        font-size: 30px; } }

.notaIndex {
  background-color: #efd3b6;
  padding: 20px; }
  @media screen and (max-width: 500px) {
    .notaIndex {
      padding: 20px 20px 70px 20px !important; } }
  .notaIndex__titulo {
    margin-bottom: 0; }
  .notaIndex__cont {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    @media screen and (max-width: 768px) {
      .notaIndex__cont {
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    .notaIndex__cont__texto {
      width: 40%;
      height: 100px;
      align-self: center;
      text-align: center; }
      @media screen and (max-width: 768px) {
        .notaIndex__cont__texto {
          width: 600px;
          height: 100px;
          text-align: center; } }
      @media screen and (max-width: 500px) {
        .notaIndex__cont__texto {
          width: 80%; } }
    .notaIndex__cont__imagen {
      width: 30%; }
      @media screen and (max-width: 768px) {
        .notaIndex__cont__imagen {
          order: -1;
          padding: 20px;
          width: 40%; } }
      @media screen and (max-width: 500px) {
        .notaIndex__cont__imagen {
          width: 50%; } }

.card {
  --bs-card-border-color: #fff; }

.btn-primary {
  --bs-btn-color: #000;
  --bs-btn-bg: #efd3b6;
  --bs-btn-border-color: #efd3b6;
  --bs-btn-hover-color: #ffff;
  --bs-btn-hover-bg: #a98573;
  --bs-btn-hover-border-color: #a98573;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #efd3b6;
  --bs-btn-active-border-color: #efd3b6;
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #efd3b6;
  --bs-btn-disabled-border-color: #efd3b6; }

.blogIndex {
  background-color: #1a1423;
  padding: 20px 20px 60px 20px;
  color: #fff; }
  @media screen and (max-width: 768px) {
    .blogIndex {
      padding-bottom: 30px; } }
  @media screen and (max-width: 768px) {
    .blogIndex__titulo {
      padding: 20px; } }

.bg-footer {
  background-color: black;
  color: #fff; }
  .bg-footer .text-white {
    text-decoration: none; }
  .bg-footer .botonFooter {
    align-self: center; }
    .bg-footer .botonFooter .btnFooter {
      --bs-btn-border-color: #fff; }
    .bg-footer .botonFooter .btn-outline-light {
      --bs-btn-border-color: none; }
  .bg-footer .whatsapp {
    position: fixed;
    right: 30px;
    bottom: 20px; }
    @media screen and (max-width: 768px) {
      .bg-footer .whatsapp {
        bottom: 30px; } }
    .bg-footer .whatsapp .whatsapp__img {
      width: 50px; }
      @media screen and (max-width: 768px) {
        .bg-footer .whatsapp .whatsapp__img {
          width: 40px; } }

.nosotros {
  padding: 0 20px 20px 20px; }
  .nosotros .nosotros__cont {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .nosotros .nosotros__cont .nosotros__texto {
      width: 50%;
      height: 50%;
      text-align: center; }
      @media screen and (max-width: 768px) {
        .nosotros .nosotros__cont .nosotros__texto {
          margin: 0;
          width: 70%;
          height: 70%; } }
      @media screen and (max-width: 500px) {
        .nosotros .nosotros__cont .nosotros__texto {
          width: 70%;
          height: 70%;
          font-size: 15px;
          margin: 0; } }

.logros {
  background-color: #efd3b6;
  padding: 20px; }
  .logros__cont__card {
    background-color: #efd3b6;
    --bs-card-border-color: $rosa; }
    .logros__cont__card .imgLogros {
      width: 27%;
      height: 57%;
      align-self: center; }
    .logros__cont__card .textLogros {
      font-size: 20px;
      font-weight: 700; }

.galeria {
  background-color: #1a1423;
  padding: 20px; }
  .galeria__titulo {
    color: white;
    text-align: center; }
  .galeria__imagenes {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: repeat(3, 300px);
    gap: 10px 10px;
    grid-template-areas: "imagen1 imagen2" "imagen3 imagen2" "imagen3 imagen4";
    justify-content: center;
    padding: 20px; }
    @media screen and (max-width: 768px) {
      .galeria__imagenes {
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(3, 250px); } }
    @media screen and (max-width: 500px) {
      .galeria__imagenes {
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: repeat(3, 200px); } }
    .galeria__imagenes .imagen1, .galeria__imagenes .imagen2, .galeria__imagenes .imagen3, .galeria__imagenes .imagen4 {
      grid-area: imagen1;
      background-image: url(../Images/galeria-4.png);
      background-position: center;
      background-size: cover; }
    .galeria__imagenes .imagen2 {
      grid-area: imagen2;
      background-image: url(../Images/galeria-2.png); }
    .galeria__imagenes .imagen3 {
      grid-area: imagen3;
      background-image: url(../Images/galeria-3.png); }
    .galeria__imagenes .imagen4 {
      grid-area: imagen4;
      background-image: url(../Images/galeria-1.png); }

.productos {
  background-color: #efd3b6;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .productos__titulo {
      padding: 20px; } }
  .productos__titulo .card-header {
    color: var(--bs-card-cap-color);
    background-color: #a98573; }
    .productos__titulo .card-header .nav {
      --bs-nav-link-color: black;
      --bs-nav-link-hover-color: black; }
  .productos__titulo .textoProducto {
    width: 90%;
    text-align: center; }

.productos__secundarios__cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px; }
  .productos__secundarios__cont img {
    width: 10%;
    height: 10%;
    padding: 0 20px; }
    @media screen and (max-width: 768px) {
      .productos__secundarios__cont img {
        width: 20%; } }
    @media screen and (max-width: 500px) {
      .productos__secundarios__cont img {
        width: 35%; } }

.header {
  z-index: 1; }

.blog .blog__titulo {
  text-align: center; }

.blog .blog__cont1 .btn-secondary {
  --bs-btn-color: #000;
  --bs-btn-bg: #efd3b6;
  --bs-btn-border-color: #efd3b6;
  --bs-btn-hover-bg: #a98573;
  --bs-btn-hover-border-color: #a98573;
  --bs-btn-focus-shadow-rgb: 130,138,145;
  --bs-btn-active-bg: #efd3b6;
  --bs-btn-active-border-color: #efd3b6; }

.blog .blog__cont2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px 0; }
  @media screen and (max-width: 500px) {
    .blog .blog__cont2 {
      flex-direction: column;
      align-items: center;
      padding: 0; } }
  .blog .blog__cont2 img {
    width: 30%;
    height: 30%;
    filter: grayscale(100%);
    padding: 10px; }
    @media screen and (max-width: 500px) {
      .blog .blog__cont2 img {
        width: 65%;
        filter: grayscale(100%);
        padding: 10px; } }
  .blog .blog__cont2 img:hover {
    filter: none; }

.contacto {
  background-color: #1a1423;
  color: #fff;
  padding-top: 20px; }
  .contacto__titulo {
    text-align: center; }
  .contacto__iconos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px; }
    @media screen and (max-width: 500px) {
      .contacto__iconos {
        flex-direction: column;
        padding: 20px; } }
    .contacto__iconos__datos {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .contacto__iconos__datos img {
        width: 60px;
        height: 60px; }
        @media screen and (max-width: 768px) {
          .contacto__iconos__datos img {
            width: 50px;
            height: 50px; } }
        @media screen and (max-width: 500px) {
          .contacto__iconos__datos img {
            width: 40px;
            height: 40px; } }
      .contacto__iconos__datos p {
        color: #fff;
        margin-top: 27px; }
        @media screen and (max-width: 768px) {
          .contacto__iconos__datos p {
            text-align: center; } }

.formulario__titulo {
  text-align: center; }

@keyframes aparecer {
  0% {
    opacity: 100%; }
  50% {
    opacity: 40%; }
  100% {
    opacity: 100%; } }

.animation {
  animation-name: aparecer;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }
