html {
  font-size: 62,5%; }

body {
  font-family: 'Raleway', sans-serif;
  padding-top: 120px; }

.bg-white {
  background-color: #ffffff; }

.navbar-expand-lg .navbar-nav .nav-link {
  font-size: 18px; }

.notaIndex {
  background-color: #efd3b6;
  padding: 20px; }

.notaIndex h2 {
  margin-bottom: 0; }

.notaIndex__cont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.notaIndex__texto {
  width: 40%;
  height: 100px;
  align-self: center;
  text-align: center; }

.notaIndex__imagen {
  width: 30%; }

.btn-primary {
  --bs-btn-color: #000;
  --bs-btn-bg: #efd3b6;
  --bs-btn-border-color: #efd3b6;
  --bs-btn-hover-color: #ffff;
  --bs-btn-hover-bg: #a98573;
  --bs-btn-hover-border-color: #a98573;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #efd3b6;
  --bs-btn-active-border-color: #efd3b6;
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #efd3b6;
  --bs-btn-disabled-border-color: #efd3b6; }

.card {
  --bs-card-border-color: #fff; }

.blogIndex {
  background-color: #1a1423;
  padding: 20px 20px 60px 20px;
  color: #fff; }

.bg-footer {
  background-color: black;
  color: #fff; }

.botonFooter {
  align-self: center; }

.btn-outline-light {
  --bs-btn-border-color: none; }

.btnFooter {
  --bs-btn-border-color: #fff; }

.text-white {
  text-decoration: none; }

.whatsapp {
  position: fixed;
  right: 30px;
  bottom: 20px; }

.whatsapp img {
  width: 50px; }

.nosotros {
  padding: 0 20px 20px 20px; }
  .nosotros .nosotros__cont {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .nosotros .nosotros__cont .nosotros__texto {
      width: 50%;
      height: 50%;
      text-align: center; }
      @media screen and (max-width: 768px) {
        .nosotros .nosotros__cont .nosotros__texto {
          margin: 0;
          width: 70%;
          height: 70%; } }
      @media screen and (max-width: 500px) {
        .nosotros .nosotros__cont .nosotros__texto {
          width: 70%;
          height: 70%;
          font-size: 15px;
          margin: 0; } }

.logros {
  background-color: #efd3b6;
  padding: 20px; }
  .logros__cont__card {
    background-color: #efd3b6;
    --bs-card-border-color: #efd3b6; }
    .logros__cont__card .imgLogros {
      width: 27%;
      height: 57%;
      align-self: center; }
    .logros__cont__card .textLogros {
      font-size: 20px;
      font-weight: 700; }

.galeria {
  background-color: #1a1423;
  padding: 20px; }
  .galeria__titulo {
    color: white;
    text-align: center; }
  .galeria__imagenes {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: repeat(3, 300px);
    gap: 10px 10px;
    grid-template-areas: "imagen1 imagen2" "imagen3 imagen2" "imagen3 imagen4";
    justify-content: center;
    padding: 20px; }
    @media screen and (max-width: 768px) {
      .galeria__imagenes {
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(3, 250px); } }
    @media screen and (max-width: 500px) {
      .galeria__imagenes {
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: repeat(3, 200px); } }
    .galeria__imagenes .imagen1 {
      grid-area: imagen1;
      background-image: url(../Images/galeria-4.png);
      background-position: center;
      background-size: cover; }
    .galeria__imagenes .imagen2 {
      grid-area: imagen2;
      background-image: url(../Images/galeria-2.png);
      background-position: center;
      background-size: cover; }
    .galeria__imagenes .imagen3 {
      grid-area: imagen3;
      background-image: url(../Images/galeria-3.png);
      background-position: center;
      background-size: cover; }
    .galeria__imagenes .imagen4 {
      grid-area: imagen4;
      background-image: url(../Images/galeria-1.png);
      background-position: center;
      background-size: cover; }

.productos {
  background-color: #efd3b6;
  text-align: center; }

.productos__secundarios div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px; }

.productos__secundarios div img {
  width: 10%;
  height: 10%;
  padding: 0 20px; }

.card-header {
  color: var(--bs-card-cap-color);
  background-color: #a98573; }

.nav {
  --bs-nav-link-color: black;
  --bs-nav-link-hover-color: black; }

.textoProducto {
  width: 90%;
  text-align: center; }

.header {
  z-index: 1; }

.blog__cont {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px 0; }

.blogTitulo {
  text-align: center; }

.blog div img {
  width: 30%;
  height: 30%;
  filter: grayscale(100%);
  padding: 10px; }

.blog div img:hover {
  filter: none; }

.btn-secondary {
  --bs-btn-color: #000;
  --bs-btn-bg: #efd3b6;
  --bs-btn-border-color: #efd3b6;
  --bs-btn-hover-bg: #a98573;
  --bs-btn-hover-border-color: #a98573;
  --bs-btn-focus-shadow-rgb: 130,138,145;
  --bs-btn-active-bg: #efd3b6;
  --bs-btn-active-border-color: #efd3b6; }

.contacto {
  background-color: #1a1423;
  color: #fff;
  padding-top: 20px; }

.contacto__titulo {
  text-align: center; }

.contacto__iconos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 50px; }

.contacto__iconos div img {
  width: 60px;
  height: 60px; }

.contacto__iconos div p {
  color: #fff;
  margin-top: 27px; }

.contacto__datos {
  display: flex;
  flex-direction: column;
  align-items: center; }

.formulario__titulo {
  text-align: center; }

.mapa {
  grid-area: mapa; }

.mapa__cont {
  display: flex;
  justify-content: center; }

@keyframes aparecer {
  0% {
    opacity: 100%; }
  50% {
    opacity: 40%; }
  100% {
    opacity: 100%; } }

.animation {
  animation-name: aparecer;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

/* TABLET-768px */
@media screen and (max-width: 768px) {
  body {
    padding-top: 0; }
  .fixed-top {
    position: static; }
  .notaIndex__cont {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .notaIndex__cont img {
    order: -1;
    padding: 20px; }
  .notaIndex__texto {
    width: 600px;
    height: 100px;
    text-align: center; }
  .notaIndex__imagen {
    width: 40%; }
  .blogIndex {
    padding-bottom: 30px; }
  .blogIndex h2 {
    padding: 20px; }
  .whatsapp {
    bottom: 30px; }
  .whatsapp img {
    width: 40px; }
  .contacto__datos p {
    text-align: center; }
  .contacto__iconos div img {
    width: 50px;
    height: 50px; }
  .productos__secundarios div img {
    width: 20%; } }

/* MOBILE-500px */
@media screen and (max-width: 500px) {
  .notaIndex {
    padding: 20px 20px 70px 20px !important; }
  .notaIndex {
    padding: 20px 20px 40px 20px; }
  .notaIndex__texto {
    width: 80%; }
  .notaIndex__imagen {
    width: 50%; }
  .productosIndex__cont {
    flex-direction: column; }
  .productosIndex__cont div {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .blogIndex__imagenes {
    flex-direction: column;
    align-items: center; }
  .blogIndex div img {
    padding: 5px; }
  .slide img {
    height: 200px; }
  .contacto__iconos {
    flex-direction: column;
    padding: 20px; }
  .contacto__iconos div img {
    width: 40px;
    height: 40px; }
  .productos__secundarios div img {
    width: 35%; }
  .blog__cont {
    flex-direction: column;
    align-items: center;
    padding: 0; }
  .blog div img {
    width: 65%;
    filter: grayscale(100%);
    padding: 10px; } }
