@keyframes aparecer{
    0%{
        opacity: 100%;
    }
    50%{
        opacity: 40%;
    }
    100%{
        opacity: 100%;
    }
    }
.animation{
    animation-name: aparecer; 
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    }