.header{
    z-index: 1;
}
.blog{
    .blog__titulo{
        text-align: center;
        .btn-secondary {
            --bs-btn-color: #000;
            --bs-btn-bg: #efd3b6;
            --bs-btn-border-color: #efd3b6;
            --bs-btn-hover-bg: #a98573;
            --bs-btn-hover-border-color: #a98573;
            --bs-btn-focus-shadow-rgb: 130,138,145;
            --bs-btn-active-bg: #efd3b6;
            --bs-btn-active-border-color: #efd3b6;
        }
    }
    .blog__cont{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 20px 0;
        @media  screen and (max-width:500px){
            flex-direction: column;
            align-items: center;
            padding: 0;
        }
        & img{
            width: 30%;
            height: 30%;
            filter: grayscale(100%);
            padding: 10px;
            @media  screen and (max-width:500px){
                width: 65%;
                filter: grayscale(100%);
                padding: 10px;
            }
        }
        & img:hover{
            filter: none;
        }
    }
}