.contacto{
    background-color: $morado;  
    color: #fff;
    padding-top: 20px;
    &__titulo{
        text-align: center;
    }
    &__iconos{
        display: map-get($estilos, flex);
        flex-direction: map-get($estilos, direction);
        justify-content: map-get($estilos, justify);
        padding: 50px;
        @media  screen and (max-width:500px){
            flex-direction: column;
            padding: 20px;
        }
        &__datos{
            display: map-get($estilos, flex);
            flex-direction: column;
            align-items: center;
            & img{
                @include sizes(60px, 60px);
                @media  screen and (max-width:768px){
                    @include sizes(50px, 50px);
                }
                @media  screen and (max-width:500px){
                    @include sizes(40px, 40px);
                }
            }
            & p{
                color: #fff;
                margin-top: 27px;
                font-size: 20px;
                @media  screen and (max-width:768px){
                    text-align: center;
                    font-size: 17px;
                }
            }
        }
    }
}
.formulario{
    &__titulo{
        text-align: center;
    }
    &__cont{
        --bs-gutter-x: -0.5rem;
        &__mapa{
            padding: 10px;
        }
    }
}