html{
    font-size: 62,5%;
}
body{
    font-family: 'Raleway', sans-serif;
    padding-top: 120px;
    @media  screen and (max-width:768px){
        padding-top: 0;
    }
}
h1{
    font-size: 2rem;
    @media  screen and (max-width:500px){
        font-size: 1.6rem;
    }
}
.bg-white{
    background-color: $rosa;
}
.fixed-top{
    @media  screen and (max-width:768px){
        position: static;
    }
}
.navbar-expand-lg{
    .navbar-nav{
        .nav-link {
            font-size: 18px;
        }
    } 
}
.slide{
    & img{
        @media  screen and (max-width:500px){
            height: 250px;
        }
    }
    .carousel-caption {
        right: 67%;
        bottom: 9.25rem;
        left: 10%;
        padding-bottom: 2.25rem;
        color: black;
        @media  screen and (max-width:768px){
            right: 55%;
            bottom: 3.25rem;
            left: 4%;
        }
        &__text{
            font-weight: 600;
            font-size: 40px;
            @media  screen and (max-width:768px){
                font-weight: 600;
                font-size: 30px; 
            }
        }
    }
}
.notaIndex{
    background-color: $rosa;
    padding: 20px;
    @media  screen and (max-width:500px){
        padding: 20px 20px 90px 20px !important;
    }
    &__titulo{
        margin-bottom: 0;
    }
    &__cont{
        display:map-get($estilos, flex);
        flex-direction: map-get($estilos, direction);
        justify-content: map-get($estilos, justify);
        @media  screen and (max-width:768px){
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__texto{
            @include sizes(40%, 100px);
            align-self: center;
            text-align: center;
            @media  screen and (max-width:768px){
                @include sizes(600px, 100px);
                text-align: center;
            }
            @media  screen and (max-width:500px){
                width: 80%;
            }
        }
        &__imagen{
            width: 30%;
            @media  screen and (max-width:768px){
                order: -1;
                padding: 20px;
                width: 40%; 
            }
            @media  screen and (max-width:500px){
                width: 70%;
            }
        }
    }
}
.card {
    --bs-card-border-color: #fff;
}
.btn-primary {
    --bs-btn-color: #000;
    --bs-btn-bg: #efd3b6;
    --bs-btn-border-color: #efd3b6;
    --bs-btn-hover-color: #ffff;
    --bs-btn-hover-bg: #a98573;
    --bs-btn-hover-border-color: #a98573;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #efd3b6;
    --bs-btn-active-border-color: #efd3b6;
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #efd3b6;
    --bs-btn-disabled-border-color: #efd3b6;
}
.blogIndex{
    background-color: $morado;
    padding: 20px 20px 60px 20px;
    color: #fff;
    @media  screen and (max-width:768px){
        padding-bottom: 30px;
    }
    &__titulo{
        @media  screen and (max-width:768px){
            padding: 20px;
        }
    }
    .blogIndex__contenedor div{
        position: relative;  
        &:hover > .capa{
            opacity: 1;
            visibility: visible;
            @media  screen and (max-width:500px){
                visibility:hidden;
            }
        }
        &:hover > .capa h3{
            margin-top: 70px;
            margin-bottom: 15px;
        }
        & img{
            @include sizes (65%,100%);
            border-radius: 12px;
            transition: all 500ms ease-out;
            @media  screen and (max-width:768px){
                width: 90%;
            }
            @media  screen and (max-width:500px){
                width: 200px;
                padding-bottom: 20px;
            }
        }
        & .capa{
            position: absolute;
            top: 0;
            margin-left: 53px;
            @include sizes (60%, 100%);
            background-color: $rosa;
            opacity: 0;
            visibility: hidden;
            text-align: center;
            border-radius: 12px;
            @media  screen and (max-width:768px){
                width: 80%;
                margin-left: 12px;
            }
            & h3{
                color: black;
                font-size: 20px;
                @media  screen and (max-width:768px){
                    font-size: 18px;
                }
            }
        }
    }
}
.bg-footer{
    background-color: black;
    color: #fff;
    .text-white {
        text-decoration: none;
    }
    .botonFooter{
        align-self: center;
        .btnFooter{
            --bs-btn-border-color: #fff;
        }
    }
    .whatsapp{
        position: fixed;
        right: 30px;
        bottom: 20px;
        @media  screen and (max-width:768px){
            bottom: 30px;
        }
        .whatsapp__img{
            width: 50px;
            @media  screen and (max-width:768px){
                width: 40px;
            }
    }
}
}