/* TABLET-768px */
@media  screen and (max-width:768px) {
    body {
        padding-top: 0;
    }
    .fixed-top {
        position: static;
    }
    .notaIndex__cont{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .notaIndex__cont img{
        order: -1;
        padding: 20px;
    }
    .notaIndex__texto{
        width: 600px;
        height: 100px;
        text-align: center;
    }
    .notaIndex__imagen{
        width: 40%;
    }
    .blogIndex{
        padding-bottom: 30px;
    }
    .blogIndex h2{
        padding: 20px;
    }
    .whatsapp{
        bottom: 30px;
    }
    .whatsapp img{
        width: 40px;
    }


    .contacto__datos p{
        text-align: center;
    }
    .contacto__iconos div img{
        width: 50px;
        height: 50px;
    }


    .productos__secundarios div img {
        width: 20%;
    }
    }
    
    
    
    /* MOBILE-500px */
    @media  screen and (max-width:500px) {
    .notaIndex {
        padding: 20px 20px 70px 20px !important;
    }    
    .notaIndex{
        padding: 20px 20px 40px 20px;
    }
    .notaIndex__texto{
        width: 80%;
    }
    .notaIndex__imagen{
        width: 50%;
    }
    .productosIndex__cont{
        flex-direction: column;
    }
    .productosIndex__cont div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .blogIndex__imagenes{
        flex-direction: column;
        align-items: center;
    }
    .blogIndex div img{
        padding: 5px;
    }
    .slide img{
        height: 200px;
    }



    .contacto__iconos{
        flex-direction: column;
        padding: 20px;
    }
    .contacto__iconos div img{
        width: 40px;
        height: 40px;
    }


    .productos__secundarios div img {
        width: 35%;
    }


    .blog__cont{
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .blog div img{
        width: 65%;
        filter: grayscale(100%);
        padding: 10px;
    }
    }