.nosotros{
    padding: 0 20px 20px 20px;
    .nosotros__cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        .nosotros__texto{
            width: 50%;
            height: 50%;
            text-align: center;
            @media  screen and (max-width:768px){
                margin: 0;
                width: 70%;
                height: 70%;
            }
            @media  screen and (max-width:500px){
                width: 70%;
                height: 70%;
                font-size: 15px;
                margin: 0;
            }
        }
    }
}
.logros{
    background-color: #efd3b6;
    padding: 20px;
    &__cont{
        &__card{
            background-color: #efd3b6;
            --bs-card-border-color: #efd3b6;
            .imgLogros{
                width: 27%;
                height: 57%;
                align-self: center;
            }
            .textLogros{
                font-size: 20px;
                font-weight: 700;
            }
        }
    }
}
.galeria{
    background-color: #1a1423;
    padding: 20px;
    &__titulo{
        color: white;
        text-align: center;
    }
    &__imagenes{
        display: grid;
        grid-template-columns: repeat(2, 500px);
        grid-template-rows: repeat(3, 300px);
        gap: 10px 10px;
        grid-template-areas:
            "imagen1 imagen2"
            "imagen3 imagen2"
            "imagen3 imagen4";
        justify-content: center;
        padding: 20px;
        @media  screen and (max-width:768px){
            grid-template-columns: repeat(2, 300px);
            grid-template-rows: repeat(3, 250px);
        }
        @media  screen and (max-width:500px){
            grid-template-columns: repeat(2, 150px);
            grid-template-rows: repeat(3, 200px);
        }
        .imagen1{
            grid-area: imagen1;
            background-image: url(../Images/galeria-4.png);
            background-position: center;
            background-size: cover;
        }
        .imagen2{
            grid-area: imagen2;
            background-image: url(../Images/galeria-2.png);
            background-position: center;
            background-size: cover;
        }
        .imagen3{
            grid-area: imagen3;
            background-image: url(../Images/galeria-3.png);
            background-position: center;
            background-size: cover;
        }
        .imagen4{
            grid-area: imagen4;
            background-image: url(../Images/galeria-1.png);
            background-position: center;
            background-size: cover;
        }
    }
}