.productos{
    background-color: $rosa;
    text-align: center;
    @media  screen and (max-width:768px){
    padding-bottom: 30px;
    }
    &__titulo{
        padding-top: 20px;
        @media  screen and (max-width:768px){
            padding: 20px;
        }
    }
    &__cont{
        --bs-gutter-x: -0.5rem;
        .card-header {
            color: var(--bs-card-cap-color);
            background-color: $hover;
            .nav {
                --bs-nav-link-color: black;
                --bs-nav-link-hover-color: black;
            }
        }
        .textoProducto{
            width: 90%;
            text-align: center;
        }
    }
}


.productos__secundarios__cont{
    display: map-get($estilos, flex);
    flex-direction: map-get($estilos, direction);
    justify-content: center;
    padding: 20px;
    & img{
        @include sizes(10%, 10%);
        padding: 0 20px;
        @media  screen and (max-width:768px){
            width: 20%;
        }
        @media  screen and (max-width:500px){
            width: 35%;
        }
    }
}
.card-header {
    background-color: $morado;
    color: white;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding-right: 0;
    padding-left: 0;
}
